.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Footer Styles */
.socialIcons {
  display: flex;
  justify-content: flex-end;
  padding: 0 1em;
}

.socialIconLink:hover {
  /* padding: 0em 1em; */
  color: skyblue;
}
