.nav-links {
  padding: 0em 2em;
  font-size: larger;
}
.nav-links:hover {
  color: blue;
}

.container {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 80px;
  background: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
